pandas==2.2.3
requests==2.32.3
plotly==5.24.1
streamlit==1.39.0
watchdog==4.0.0
prophet==1.1.5
cmdstanpy==1.2.4
langchain==0.3.2
langchain-ollama==0.2.0
langchain-community==0.3.2
langchain-openai==0.2.2
scikit-learn==1.5.2
numpy==1.26.4
duckdb==1.1.3
